<p id="notice"><%= notice %></p>

<h1>Subject Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subject_types.each do |subject_type| %>
      <tr>
        <td><%= subject_type.name %></td>
        <td><%= link_to 'Show', subject_type %></td>
        <td><%= link_to 'Edit', edit_subject_type_path(subject_type) %></td>
        <td><%= link_to 'Destroy', subject_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject Type', new_subject_type_path %>
