<h1>Course Name: <%= @a[0].course_type.name %> </h1>
   <% previous_course = "" %>
    <% count = 0 %>
    
	    <% @a.each do |i| %>
	    
	    	<% current_course = i.course.course_code %>
	    	<% if current_course != previous_course then %>
		   
		      </br></br> </br>  <b> <%= i.course.course_code %>  <% if count != 0 then %><%= count %> <% end %> </b></br> <% @items.push(count) %><% count = 0 %>
		      
		    <% end %>
		    <% count = count + 1 %>
			<% previous_course = current_course %>
			<%= i.subject.subject_name %>  &nbsp&nbsp&nbsp&nbsp
	    




	    <% end %>
		<% @items.push(count) %>

	    </br></br><b>Array Elements</b></br></br>
	    <% @items.each do |j| %>
	    <%= j %>
	    <% end %></br></br>
	     <b>Maximum Value: </b> <%= @items.max %> </br> </br> 
	     <b>Array Length: </b><%= @items.length - 1 %> </br> </br> </br> </br> 

	     <b>Programs	: </b><%= @programme_id %> </br> </br> 
	     <b>Course Types: </b><%= @course_type_id %> </br> </br> 
	     <b>Semesters	: </b><%= @semester_id %> </br> </br> 
	     <%= @co %>
